<div class="card">
  <div class="card-header">
    Wager
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="wagerTitle">Title</label>
        <select
          class="custom-select"
          (click)="onChange($event)"
          name="wagerList"
          [(ngModel)]="wagerTitle"
        >
          <option *ngFor="let group of arrayGroup" value="{{ group }}">
            {{ group }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="escrowAddress">Escrow Account Address</label>
        <input
          type="text"
          class="form-control"
          id="escrowAddress"
          placeholder="Escrow Address"
          name="escrowAddress"
          disabled="true"
          [(ngModel)]="escrowAddress"
        />
      </div>
      <div class="form-group">
        <label for="wagerBid">Wager Bid</label>
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input
              name="bid"
              type="radio"
              aria-label="Yes"
              (click)="onSelectionChange(true)"
              checked
            />
            Yes
            <input
              name="bid"
              type="radio"
              aria-label="No"
              (click)="onSelectionChange(false)"
            />
            No
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="wagerToken">Wager Token</label>
        <input
          type="text"
          class="form-control"
          id="wagerToken"
          placeholder="Wager Token"
          name="wagertoken"
          [(ngModel)]="wagerToken"
        />
      </div>

      <div>
        <button
          type="submit"
          [disabled]="buttonDisabled"
          class="btn btn-primary"
          (click)="bid($event)"
        >
          Place a bid
        </button>
      </div>
    </form>
  </div>
</div>
