<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dealer">
          <i class="material-icons">Dealer</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ico">
          <i class="material-icons">ICO</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="community">
          <i class="material-icons">Community</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="wager">
          <i class="material-icons">Wager</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bidding">
          <i class="material-icons">Bidding</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="transaction">
          <i class="material-icons">Transcation</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">
          <i class="material-icons">Settings</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
